﻿@using GestionAsp.Models
@using GestionAsp.Controllers;


@*@{
    ViewBag.Title = "Alta de Usuario";
}*@

<h2>Alta de Usuario</h2>


@*@using (Html.BeginForm("Create", "Usuarios", FormMethod.Post))
{*@


<div class="form-horizontal">
    <h4>Usuario</h4>
    <hr />
    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.IdUsuario, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdUsuario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IdUsuario, "", new { @class = "text-danger" })
            </div>
        </div>*@

    @*<div class="form-group">
            @Html.LabelFor(model => model.Contrasenia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Contrasenia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Contrasenia, "", new { @class = "text-danger" })
            </div>
        </div>*@

    @*<div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>*@

    @*<div class="form-group">
            @Html.LabelFor(model => model.Apellido, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
            </div>
        </div>*@
    @{
        <div class="form-group">
            @Html.Label("Nivel", "Nivel", attributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Nivel",) , htmlAttributes: new { @class = "form-control" })
                @Html
            </div>
        </div>
    }



    @*<div class="form-group">
            @Html.Label("Usuario Visa", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UsuariosAdministradoras[0].IdUsuarioAdm, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UsuariosAdministradoras[0].IdUsuarioAdm, "", new { @class = "text-danger" })

            </div>
        </div>
        <div class="form-group">
            @Html.Label("Usuario MasterCard", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UsuariosAdministradoras[1].IdUsuarioAdm, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UsuariosAdministradoras[1].IdUsuarioAdm, "", new { @class = "text-danger" })

            </div>
        </div>
        <div class="form-group">
            @Html.Label("Usuario Amex", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UsuariosAdministradoras[2].IdUsuarioAdm, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UsuariosAdministradoras[2].IdUsuarioAdm, "", new { @class = "text-danger" })

            </div>
        </div>*@


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Crear Usuario" class="btn btn-primary" />
        </div>
        <br />

        <!-- A revisar botón Volver-->
        <!-- TODO -->
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Volver" href="/Usuarios" class="btn btn-default" />
        </div>

    </div>
</div>
@*}*@



@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
