﻿@model GestionAsp.Models.Usuario


@{
    ViewBag.Title = "Detalles del Usuario";
}

<h2>Detalles del Usuario</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdUsuario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nivel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nivel)
        </dd>

        @foreach (var adm in Model.UsuariosAdministradoras)
        {
            <dt>
                @Html.DisplayFor(model => adm.Administradora)
            </dt>

            <dd>
                @Html.DisplayFor(model => adm.IdUsuarioAdm)
            </dd>

        }

    </dl>
    <hr />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bitacora[0].FechaAccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bitacora[0].AccionBitacora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bitacora[0].NombreEquipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bitacora[0].Ntdom)
            </th>

        </tr>

        @foreach (var bitacora in Model.Bitacora)
        {
            <tr>
                <td>
                    @{ string fecha = bitacora.FechaAccion.ToString("dd-MM-yyyy HH:MM"); }

                    @Html.DisplayFor(modelItem => fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => bitacora.AccionBitacora)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => bitacora.NombreEquipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => bitacora.Ntdom)
                </td>

            </tr>
        }

    </table>
</div>
<p>
    @Html.ActionLink("Modificar", "Edit", new { id = Model.IdUsuario }) |
    @Html.ActionLink("Volver", "Index")
</p>
