﻿@Model IEnumerable<GestionAsp.Models.Usuario>

@*@{
    ViewBag.Title = "Usuarios";
}*@

<h2>Index</h2>

<p>
   @* @Html.ActionLink("Crear Nuevo", "Create")*@
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.IdUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nivel)
        </th>
        <th>
            @Html.DisplayName("Visa")
        </th>
        <th>
            @Html.DisplayName("MasterCard")
        </th>
        <th>
            @Html.DisplayName("Amex")
        </th>*@
        <th></th>
    </tr>

@*@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.IdUsuario)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Apellido)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Nivel)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UsuariosAdministradoras[0].IdUsuarioAdm)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UsuariosAdministradoras[1].IdUsuarioAdm)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UsuariosAdministradoras[2].IdUsuarioAdm)
    </td>
    <td>
        @Html.ActionLink("Modificar", "Edit", new { id = item.IdUsuario }) |
        @Html.ActionLink("Detalles", "Details", new { id = item.IdUsuario }) |
        @Html.ActionLink("Borrar", "Delete", new { id = item.IdUsuario })
    </td>
</tr>
}*@

</table>
