﻿@model GestionAsp.Models.Usuario

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("Ingresar", "Home", FormMethod.Post))
{
    <label>Usuario</label>
    <input type="text" name="idUsuario" value="" />

    <label>Contraseña</label>
    <input type="password" name="contrasenia" value="" />

    <input type="submit" name="ingresar" value="" />

}

<h2>@ViewBag.Error</h2>



